supabase.datasource.url=jdbc:postgresql://aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?sslmode=require
supabase.datasource.username=postgres.your-project-ref
supabase.datasource.password=your-supabase-db-password

supabase.api.url=https://your-project-ref.supabase.co
supabase.api.anon-key=your-supabase-anon-key
supabase.api.service-role-key=your-supabase-service-role-key
